{% extends "learning_logs/base.html" %} {% comment %} 插入名称为 content 的
block 区块 {% endcomment %} {% block header %}
<div class="jumbotron">
  <h1>Track Your Learning.</h1>
</div>
{% endblock header %} {% block content %}
<p>
  <a href="{% url 'users:register' %}">Register an account</a> to make your own
  Learning Log, and list the topics you're learning about.
</p>
<p>
  Whenever you learn something new about a topic, make an entry summarizing what
  you've learned.
</p>

{% endblock content %}
